/* Position the page controls item to appear in the center by adjusting flex properties */
.navbar__page-controls {
  margin: -5rem 0; 

  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem; */
}

/* Ensure proper styling for the page controls within navbar */
.navbar__page-controls .page-controls {
  position: static;
  margin: 0;
}

